a {
    color: #777 !important
}

.navbar .navbar-brand{
    padding: 0px !important
}

.header{

    padding-bottom: 20px !important;
}

.test:after {
    content: '\2807';
    font-size: 3em;
    color: #2e2e2e
}

.btn-primary{
    border:none !important;
}

.show{
    opacity: inherit !important;
    visibility: visible !important;
}

/*
  Removendo alguns estilos do DropdownButton (Botão com as opções de crud)
*/
#dropdown-button-drop-down {
  width:15px;
  border: none !important;
  outline: none !important;
}

#dropdown-button-drop-down:hover {
    border: none !important;
    background-color: #fff !important;
}

#dropdown-button-drop-down.btn-primary:hover {
    background-color: #fff !important;
}

.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none !important;
    background-color: #fff;
}

#dropdown-button-drop-down.btn {
  padding: 0 !important;
}
#dropdown-button-drop-down.btn-primary {
  color: #fff !important;
  background-color: #fff !important;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: none !important;
}

.dropleft .dropdown-toggle::before {
    content: '\2807' !important;
    font-size: 2em;
    color: #2e2e2e;
    border: none !important;
    margin: -5px  !important;
    align-items: center;
}

.ti-trash {
  cursor: pointer;
}

.btn-toolbar {
  width: 20px !important;
  margin-top: -10px !important;
}
