#root, .App {
  height: 100%;
  width: 100%;
}

.login-form form {
  display: grid;
  grid-template-rows: 150px 110px 110px 100px;
}

label {
  font-size: 18px;
}

.form-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-form {
  height: 31rem;
  width: 35%;
  max-width: 50%;
  min-width: 30%;
  padding: 0 15px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.14)
}

.form-header {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app-name {
  font-size: 23px;
}

.app-desc {
  opacity: 0.7;
  font-size: 18px;
}

.login-form .form-group input {
  height: 60px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.form-buttons {
  display: flex;
  margin-top: 50px;
  align-items: flex-end;
  border: 1px solid;
}

.form-buttons button {
  flex: 1;
  height:100%;
  color: #fff;
  border: none;
  font-size: 18px;
  border-radius: 0;
  background-color: #073d58;
}

@media (max-width: 798px) {
  .login-form {
    width: 50%;
    max-width: 100%;
  }

}

@media (max-width: 500px) {
  .login-form {
    width: 90%;
    max-width: 100%;
  }

  .app-name {
    font-size: 22px;
  }

}

@media (max-width: 390px) {
  .app-name {
    font-size: 20px;
  }

  .app-desc {
    font-size: 18px;
  }

}
